<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://www.googleapis.com/jsapi?key=AIzaSyC8fCBUzWACpRFKX7nE0LHdYY2hxUvlil0"></script>
    <title>Movies List</title>
</head>
<body>
    <div class="card"></div>
    <h1>Movies List</h1>
    <a href="/movie/new">Add New Movie</a>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Duration</th>
                <th>Director</th>
                <th>Cast</th>
                <th>Release Date</th>
                <th>Show Time</th>
                <th>Languages</th>
                <th>Rating Count</th>
                <th>Average Rating</th>
                <th>Description</th>
                <th>Trailer</th>
                <th>Image</th>  
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movie}">
                <td th:text="${movie.title}">Title</td>
                <td th:text="${movie.genre}">Genre</td>
                <td th:text="${movie.duration}">Duration</td>
                <td th:text="${movie.director}">Director</td>
                <td th:text="${movie.cast}">Cast</td>
                <td th:text="${#dates.format(movie.releaseDate, 'yyyy-MM-dd')}">Release Date</td>
                <td th:text="${movie.showTime}">Show Time</td>
                <td th:text="${movie.languages}">Languages</td>
                <td th:text="${movie.ratingCount}">Rating Count</td>
                <td th:text="${movie.averageRating}">Average Rating</td>
                <td th:text="${movie.description}">Description</td>
                <td>    
                    <div th:if="${movie.trailerURL != null}">
                        <iframe width="560" height="315" th:src="@{'https://www.youtube.com/embed/' + ${movie.trailerURL}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <span th:unless="${movie.trailerURL != null}">N/A</span>
                </td>
                <td>
                    <img th:src="@{${movie.address}}" alt="Movie Image" th:if="${movie.address != null}" style="max-width: 500px; max-height: 500px;" />
                </td>
                <td>
                    <a th:href="@{/movie/edit/{id}(id=${movie.movieID})}">Edit</a>
                    <a th:href="@{/movie/delete/{id}(id=${movie.movieID})}" 
                    th:onclick="return confirm('Are you sure you want to delete this movie?');">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
