<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-6">
      <section class="desktop-6-inner">
        <nav class="threater-management-parent">
          <div class="threater-management">Threater Management</div>
          <div class="search-bar">
            <div class="search-icon-field">
              <div class="search-icon-field-child"></div>
              <img
                class="heroicons-outlinesearch"
                alt=""
                src="./public/heroiconsoutlinesearch.svg"
              />

              <input
                class="search-label-field"
                placeholder="Search"
                type="text"
              />
            </div>
          </div>
          <div class="user-field-wrapper">
            <div class="user-field">
              <div class="user-name-field">
                <a class="john-doe">John Doe</a>
              </div>
              <div class="user-image">
                <img
                  class="user-image-child"
                  loading="lazy"
                  alt=""
                  src="./public/ellipse-7@2x.png"
                />
              </div>
              <div class="notification">
                <img
                  class="claritynotification-outline-b-icon"
                  loading="lazy"
                  alt=""
                  src="./public/claritynotificationoutlinebadged.svg"
                />
              </div>
            </div>
          </div>
        </nav>
      </section>
      <div class="sidebar">
        <div class="sidebar-items">
          <div class="dashboard-item">
            <img
              class="menu-1-icon"
              loading="lazy"
              alt=""
              src="./public/menu-1.svg"
            />
          </div>
          <div class="dashbaord">Dashbaord</div>
        </div>
      </div>
      <section class="theater-item">
        <div class="theater-link">
          <div class="theater-field">
            <div class="theater-name-field">
              <div class="theater-name-field-child"></div>
              <div class="group-wrapper">
                <img
                  class="group-icon"
                  loading="lazy"
                  alt=""
                  src="./public/group.svg"
                />
              </div>
              <div class="theater">Theater</div>
            </div>
            <div class="movie-field">
              <div class="movie-link">
                <div class="movie-name-field">
                  <img
                    class="movie-icon-field"
                    loading="lazy"
                    alt=""
                    src="./public/frame-3.svg"
                  />
                </div>
                <div class="movie">Movie</div>
              </div>
            </div>
          </div>
        </div>
        <div class="summary">
          <div class="summary-fields">
            <div class="summary-fields-child"></div>
            <div class="total-user">Total User</div>
            <div class="user-summary">
              <div class="user-count-field">
                <div class="empty">34</div>
                <div class="movie-summary">
                  <div class="movie-count-field">
                    <img
                      class="chart-icon"
                      loading="lazy"
                      alt=""
                      src="./public/frame.svg"
                    />

                    <div class="bill-chart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-fields1">
            <div class="summary-fields-item"></div>
            <div class="total-movie">Total Movie</div>
            <div class="summary-fields-inner">
              <div class="parent">
                <div class="div">34</div>
                <div class="frame-wrapper">
                  <div class="ellipse-parent">
                    <div class="frame-child"></div>
                    <img
                      class="frame-item"
                      loading="lazy"
                      alt=""
                      src="./public/frame-3-1.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="summary-fields2">
            <div class="rectangle-div"></div>
            <div class="theater1">Theater</div>
            <div class="frame-div">
              <div class="group">
                <div class="div1">34</div>
                <div class="frame-container">
                  <div class="ellipse-group">
                    <div class="frame-inner"></div>
                    <img
                      class="bill-3-icon"
                      loading="lazy"
                      alt=""
                      src="./public/bill-3.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="food-label">
          <div class="food">FOOD</div>
        </div>
      </section>
      <section class="promotions-container-wrapper">
        <div class="promotions-container">
          <div class="promotions-header">
            <div class="guarantee-icon-field">
              <img
                class="guarantee-1-icon"
                loading="lazy"
                alt=""
                src="./public/guarantee-1.svg"
              />
            </div>
            <div class="promotions">Promotions</div>
          </div>
          <div class="subscriptions-container">
            <div class="subscriptions-header">
              <div class="subscriptions-label-field">
                <div class="subscriptions">Subscriptions</div>
                <div class="subscriptions-details">
                  <div class="empty-cell">
                    <div class="empty1">340</div>
                    <div class="cell">
                      <b class="theaterid">TheaterID</b>
                      <div class="empty-cell1">
                        <div class="empty2">$</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="theater-list">
                <div class="theater-row">
                  <div class="cell1">
                    <b class="theater-name">Theater Name</b>
                  </div>
                  <div class="cell2">
                    <b class="cinemaownerid">CInemaOwnerID</b>
                  </div>
                  <div class="cell3">
                    <b class="address">Address</b>
                  </div>
                  <div class="cell4">
                    <b class="add-theater">Add Theater</b>
                  </div>
                  <div class="cell5">
                    <b class="delete-theater">Delete Theater</b>
                  </div>
                  <div class="action-buttons">
                    <div class="update-button">
                      <div class="update-button-child"></div>
                      <div class="empty3">34</div>
                      <div class="update-icon-field">
                        <div class="document-icon">
                          <div class="document-icon-child"></div>
                          <img
                            class="document-5-icon"
                            alt=""
                            src="./public/document-5.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cell6">
                      <b class="update-theater">Update Theater</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="vector-parent">
        <img class="vector-icon" alt="" src="./public/vector-63.svg" />

        <textarea class="frame-textarea" placeholder="1" rows="{6}" cols="{11}">
        </textarea>
      </div>
      <div class="theater-details">
        <div class="theater-info">
          <div class="theater-name-field1">
            <div class="cgv-nng">CGV Đà Nẵng</div>
          </div>
          <div class="action-links">
            <div class="address-field">
              <div class="nng">Đà Nẵng</div>
            </div>
            <div class="link">
              <div class="add">ADD</div>
            </div>
            <div class="delete-link-field">
              <button class="link1">
                <div class="delete">DELETE</div>
              </button>
            </div>
            <button class="link2">
              <div class="update">UPDATE</div>
            </button>
          </div>
        </div>
      </div>
      <div class="frame-parent">
        <textarea class="frame-child1" placeholder="3" rows="{6}" cols="{11}">
        </textarea>
        <textarea class="frame-child2" placeholder="4" rows="{6}" cols="{11}">
        </textarea>
      </div>
      <div class="frame-group">
        <div class="data-parent">
          <div class="data"></div>
          <div class="div2">7</div>
        </div>
        <textarea class="frame-child3" placeholder="6" rows="{6}" cols="{11}">
        </textarea>
      </div>
      <section class="pagination">
        <div class="page-links">
          <div class="data-container">
            <div class="data-group">
              <input class="data1" type="text" />

              <div class="chat-container">
                <div class="chat-content">
                  <div class="chat-panel">
                    <div class="chat-message">
                      <div class="user-message">
                        <div class="message-content">
                          <img
                            class="bill-1-icon"
                            loading="lazy"
                            alt=""
                            src="./public/bill-1.svg"
                          />
                        </div>
                        <div class="chatbox">Chatbox</div>
                      </div>
                      <div class="manual">
                        <img
                          class="document-3-icon"
                          loading="lazy"
                          alt=""
                          src="./public/document-3.svg"
                        />

                        <div class="user-mannuals">User Mannuals</div>
                      </div>
                    </div>
                  </div>
                  <textarea
                    class="empty-message"
                    placeholder="2"
                    rows="{6}"
                    cols="{11}"
                  >
                  </textarea>
                </div>
              </div>
              <div class="data2"></div>
              <div class="cgv-nha-trang">CGV Nha Trang</div>
            </div>
            <div class="data-container1">
              <div class="theater-info1">
                <div class="theater-data">
                  <div class="data3"></div>
                  <div class="cgv-ph-yn">CGV Phú Yên</div>
                </div>
              </div>
              <div class="food-info-parent">
                <div class="food-info">
                  <img
                    class="food-data-icon"
                    loading="lazy"
                    alt=""
                    src="./public/frame-3-2.svg"
                  />
                </div>
                <div class="food1">Food</div>
              </div>
            </div>
            <div class="showtime-info-parent">
              <div class="showtime-info">
                <div class="product-data">
                  <img
                    class="product-icon"
                    loading="lazy"
                    alt=""
                    src="./public/product.svg"
                  />
                </div>
                <div class="showtime">
                  <div class="showtime1">Showtime</div>
                </div>
                <div class="theater-info2">
                  <div class="theater-data1">
                    <div class="data4"></div>
                    <div class="cgv-g-vp">CGV Gò Vấp</div>
                  </div>
                </div>
              </div>
              <div class="data-container2">
                <div class="data5"></div>
                <div class="data6"></div>
                <div class="cgv-th-c">CGV Thủ Đức</div>
                <div class="product-info-wrapper">
                  <div class="product-info">
                    <div class="product-content">
                      <div class="product-item">
                        <img
                          class="product-icon1"
                          loading="lazy"
                          alt=""
                          src="./public/product-1.svg"
                        />

                        <div class="document-3-wrapper">
                          <img
                            class="document-3-icon1"
                            loading="lazy"
                            alt=""
                            src="./public/document-3-1.svg"
                          />
                        </div>
                      </div>
                      <div class="screening-room-parent">
                        <div class="screening-room">
                          <div class="screening-room1">Screening Room</div>
                        </div>
                        <div class="news-wrapper">
                          <div class="news">News</div>
                        </div>
                      </div>
                    </div>
                    <div class="empty-message1">
                      <textarea
                        class="empty4"
                        placeholder="5"
                        rows="{6}"
                        cols="{11}"
                      >
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="component">
                <div class="phonggmailcom">
                  <div class="cgv-hi-phng">CGV Hải Phòng</div>
                </div>
              </div>
            </div>
            <div class="logout-content-parent">
              <div class="logout-content">
                <div class="logout-action">
                  <div class="logout">Logout</div>
                  <img
                    class="logout-icon"
                    loading="lazy"
                    alt=""
                    src="./public/frame-1.svg"
                  />
                </div>
                <div class="data-container3">
                  <div class="theater-info3">
                    <div class="data7"></div>
                    <div class="cgv-qung-ngi">CGV Quảng Ngãi</div>
                  </div>
                </div>
              </div>
              <div class="data-container4">
                <textarea
                  class="theater-info4"
                  placeholder="8"
                  rows="{6}"
                  cols="{11}"
                >
                </textarea>
                <div class="data8"></div>
              </div>
            </div>
          </div>
          <div class="location-list">
            <div class="location-item">
              <textarea
                class="location-data"
                placeholder="1"
                rows="{6}"
                cols="{11}"
              >
              </textarea>
              <textarea
                class="location-data1"
                placeholder="1"
                rows="{6}"
                cols="{11}"
              >
              </textarea>
              <div class="khnh-ha">Khánh Hòa</div>
            </div>
            <div class="location">
              <div class="ph-yn">Phú Yên</div>
            </div>
            <div class="ho-chi-minh-container-wrapper">
              <div class="ho-chi-minh-container">
                <textarea
                  class="city-list"
                  placeholder="1"
                  rows="{6}"
                  cols="{11}"
                >
                </textarea>
                <textarea
                  class="city-list1"
                  placeholder="1"
                  rows="{6}"
                  cols="{11}"
                >
                </textarea>
                <textarea
                  class="city-list2"
                  placeholder="1"
                  rows="{6}"
                  cols="{11}"
                >
                </textarea>
                <div class="h-ch-minh">Hồ Chí Minh</div>
              </div>
            </div>
            <div class="city-info-wrapper">
              <div class="city-info">
                <div class="duplicate-city">
                  <div class="h-ch-minh1">Hồ Chí Minh</div>
                </div>
                <div class="city-details">
                  <textarea
                    class="document-icon1"
                    placeholder="1"
                    rows="{6}"
                    cols="{11}"
                  >
                  </textarea>
                  <div class="document-icon2">
                    <div class="data9"></div>
                    <div class="div3">1</div>
                    <div class="document-container">
                      <img
                        class="document-3-icon2"
                        loading="lazy"
                        alt=""
                        src="./public/document-3-2.svg"
                      />
                    </div>
                  </div>
                  <div class="hi-phng">Hải Phòng</div>
                </div>
              </div>
            </div>
            <div class="city-info-container">
              <div class="city-info1">
                <div class="quang-ngai-city">
                  <div class="qung-ngi">Quảng Ngãi</div>
                </div>
                <div class="city-name">
                  <div class="data10"></div>
                  <div class="city">1</div>
                  <div class="kon-tum">Kon Tum</div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-buttons">
            <div class="add-buttons">
              <div class="link3">
                <div class="add1">ADD</div>
                <div class="delete-buttons">
                  <div class="add2">ADD</div>
                  <div class="add3">ADD</div>
                </div>
              </div>
              <div class="add-action">
                <div class="link4">
                  <div class="add4">ADD</div>
                </div>
                <div class="add-action1">
                  <div class="link5">
                    <div class="add5">ADD</div>
                  </div>
                </div>
                <div class="add-theater1">
                  <div class="link6">
                    <div class="add6">ADD</div>
                  </div>
                  <div class="add-theater2">
                    <div class="link7">
                      <div class="add7">ADD</div>
                    </div>
                  </div>
                  <div class="link8">
                    <div class="add8">ADD</div>
                  </div>
                  <div class="link9">
                    <div class="add9">ADD</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-buttons1">
            <div class="link-parent">
              <div class="link10">
                <div class="delete1">DELETE</div>
                <div class="delete-parent">
                  <div class="delete2">DELETE</div>
                  <div class="delete3">DELETE</div>
                </div>
              </div>
              <div class="link-group">
                <button class="link11">
                  <div class="delete4">DELETE</div>
                </button>
                <div class="link-container">
                  <button class="link12">
                    <div class="delete5">DELETE</div>
                  </button>
                  <div class="add-action2">
                    <button class="link13">
                      <div class="delete6">DELETE</div>
                    </button>
                    <div class="delete-action">
                      <button class="link14">
                        <div class="delete7">DELETE</div>
                      </button>
                    </div>
                    <button class="link15">
                      <div class="delete8">DELETE</div>
                    </button>
                    <button class="link16">
                      <div class="delete9">DELETE</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-buttons2">
            <div class="link-parent1">
              <div class="link17">
                <div class="update1">UPDATE</div>
                <div class="update-parent">
                  <div class="update2">UPDATE</div>
                  <div class="update3">UPDATE</div>
                </div>
              </div>
              <div class="link-parent2">
                <button class="link18">
                  <div class="update4">UPDATE</div>
                </button>
                <div class="link-parent3">
                  <button class="link19">
                    <div class="update5">UPDATE</div>
                  </button>
                  <div class="link-parent4">
                    <button class="link20">
                      <div class="update6">UPDATE</div>
                    </button>
                    <div class="link-wrapper">
                      <button class="link21">
                        <div class="update7">UPDATE</div>
                      </button>
                    </div>
                    <button class="link22">
                      <div class="update8">UPDATE</div>
                    </button>
                    <button class="link23">
                      <div class="update9">UPDATE</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>