<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:each="promotions : ${listPromotions}" class="promotion">
        <img th:src="${promotions.photosImagePath}" alt="Promotion Image" />
        <div class="promotion-details">
            <p><strong>Description:</strong> <span th:text="${promotions.description}"></span></p>
            <p><strong>Start Date:</strong> <span th:text="${promotions.startDate}"></span></p>
            <p><strong>End Date:</strong> <span th:text="${promotions.endDate}"></span></p>
        </div>
    </div>
</body>
</html>